CDSE_USERNAME=
CDSE_PASSWORD=
CDSE_CLIENT_ID=cdse-public
CDSE_TOKEN_URL=https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token
SNAP_GPT_PATH=gpt
OPENTOPOGRAPHY_API_KEY=
UNOSAT_DIRECT_URL=
WORLDPOP_TOTAL_URL=
JRC_PERMANENT_WATER_URL=
HDX_HEALTH_URL=
HDX_EDUCATION_URL=
HDX_SHELTERS_URL=
HDX_ADMIN_UNION_URL=
FFWC_API_URL=https://ffwc.bwdb.gov.bd/data_load/
FFWC_KANAIGHAT_CODE=Kanaighat
FFWC_SYLHET_CODE=Sylhet
FFWC_SUNAMGANJ_CODE=Sunamganj
FFWC_SHEOLA_CODE=Sheola
CASA_FORCE_CPU=0
HYDRORIVERS_URL=https://www.hydrosheds.org/products
JRC_YEARLY_HISTORY_URL=https://developers.google.com/earth-engine/datasets/catalog/JRC_GSW1_4_YearlyHistory
EROSION_LABELS_URL=
NASA_COOLR_URL=https://gpm.nasa.gov/applications/landslides/coolr
NASA_GLC_URL=https://catalog.data.gov/dataset/global-landslide-catalog-export
CHIRPS_DAILY_URL=https://www.chc.ucsb.edu/data/chirps
GPM_IMERG_URL=https://gpm.nasa.gov/data/imerg
LANDSLIDE_LABELS_URL=
MULTI_HAZARD_MODE=flood,erosion,landslide
